{% extends "site_base.html" %}

{% load staticfiles %}
{% load qa_tags %}

{% block head_title %}{{page_title}}{% endblock %}

{% block body %}
    <div class="row-fluid">
        <div class="span12">
            <h2>{{page_title}}</h2>
        </div>
    </div>

    <div class="row-fluid" >
        <div class="span12 container form-inline">
            <input type="hidden" id="total_records" value="{{iTotalRecords}}"/>
            <input type="hidden" id="filtered_records" value="{{iTotalDisplayRecords}}"/>

            <!-- datatables pagination placeholder. Gets deleted just before datatables renders--> 
            <div class="row-fluid" id="pagination-placeholder">
                <div class="span6">
                    <div class="dataTables_info" id="DataTables_Table_0_info">
                        <em>Loading table info...</em>
                    </div>
                </div>
                <div class="span6">
                    <div class="dataTables_paginate paging_bootstrap pagination">
                        <ul>
                            <li class="prev disabled"><a href="#">? Previous</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li class="next disabled"><a href="#">Next ? </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <table id="testlistinstance-table" class="table table-bordered table-striped table-condensed test-list-instance-table">

                <thead>
                    <tr>
                        <th>Actions</th>
                        <th class="unit">Unit</th>
                        <th class="frequency">Frequency</th>
                        <th>Test List/Cycle<div></div></th>
                        <th>Date</th>
                        <th>User</th>
                        <th>Progress</th>
                        <th>Pass/Fail Status</th>
                    </tr>
                    <tr>
                        <th>Actions</th>
                        <th class="unit">Unit</th>
                        <th class="frequency">Frequency</th>
                        <th>Test List/Cycle<div></div></th>
                        <th>Date</th>
                        <th>User</th>
                        <th>Progress</th>
                        <th>Pass/Fail Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                        <tr>
                            {% for col in row %}
                                <td>{{col}}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Actions</th>
                        <th class="unit">Unit</th>
                        <th class="frequency">Frequency</th>
                        <th>Test List/Cycle<div></div></th>
                        <th>Date</th>
                        <th>User</th>
                        <th>Review Status</th>
                        <th>Status</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

{% endblock body %}

{% block end_body_extra_script %}
    <script src="{% static "js/testlistinstance.js" %}?v={{VERSION}}"></script>
{% endblock end_body_extra_script %}
